.hide-expired-yearly-view {
  .fc-listYear-view {
    .fc-day-past,
    .fc-event-past {
      display: none;
    }
  }
}

// Change the order of subscription URLs so Bookmarks is at the bottom
.calendar-subscriptions .calendar-subscriptions__urls {
  display: flex;
  flex-direction: column;
}
.calendar-subscriptions .calendar-subscriptions__warning {
  order: 1;
}
.calendar-subscriptions .calendar-subscription-url:nth-child(2) {
  order: 3;
}
.calendar-subscriptions .calendar-subscription-url:nth-child(3),
.calendar-subscriptions .calendar-subscription-url:nth-child(4) {
  order: 2;
}
.calendar-subscriptions .calendar-subscriptions__actions {
  order: 4;
}
